.Talk {
  display: flex;
  width: 1200px;
  max-width: calc(100% - 30px);
  min-width: 50%;
  height: calc(90vh - 30px);
  margin: 15px auto;
  background-color: #F5F8FC;
  border: 3px solid #C5D0E6;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgb(232, 234, 255), rgb(255, 255, 255));
}

.Talk__messages {
  width: 70%;
  position: relative;
}