.RoomSelector {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid #C5D0E6;
}

.RoomSelector__item {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 15px;
  padding: 0 15px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #BAC8E6;
  border-radius: 10px;
}

.RoomSelector__input {
  display: none;
}

.RoomSelector__item.selected {
  background-color: rgb(232, 234, 255);
  font-weight: 700;
}

.RoomSelector__item.selected .RoomSelector__title {
  color: #7A93D6;
} 