.RoomSelector {
  width: 30%;
  border-right: 1px solid rgb(0, 188, 135);
}

.RoomSelector__item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid rgb(0, 188, 135);
}

.RoomSelector__input {
  display: none;
}

.RoomSelector__item.selected {
  background-color: rgb(0, 188, 135);
}

.RoomSelector__item.selected .RoomSelector__title {
  color: #fff;
} 

.RoomSelector__title {

}