.MessagesList {
  display: flex;
  width: 70%;
}

.MessagesList__main {
  height: 100%;
}

.MessagesList__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100% - 50px - 147px);
  overflow-y: scroll;
  padding: 0 15px;
  margin: 15px;
}

.MessagesList__message {
  display: inline-flex;
  flex-direction: column;
  max-width: 60%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  word-wrap: break-word;
}

.MessagesList__message_my {
  align-self: flex-end;
  background-color: rgb(232, 234, 255);
  border: none;
}

.MessagesList__form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.MessagesList__textarea {
  width: 90%;
  padding: 15px;
  resize: none;
  border: 1px solid #99BAE8;
}

.MessagesList__textarea:hover, .MessagesList__textarea:focus{
  border-color: #89ACE8;
  box-shadow: 0 0 5px #89ACE8;
}

.MessagesList__submit {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  cursor: pointer;
  background: url('./img/sendArrow.png') no-repeat center / contain;
  background-color: #fff;
  border: 1px solid #99BAE8;
  border-radius: 40px;
}

.MessagesList__submit:hover, .MessagesList__submit:focus {
  border-color: #89ACE8;
  box-shadow: 0 0 5px #89ACE8;
}

.MessagesList__text {
  line-height: 1.3;
}

.MessagesList__date {
  font-size: 14px;
}

.MessagesList__name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}